# No need to have the following files on GitHub and Vercel.
# Standard
node_modules
*.log*
.env

# Using .npmrc in localhost to publish package to GitHub
.npmrc

# dev, build and generate
.nuxt
.output
dist
